backend/n8n_workflows/normcheck_workflow.json

{
  "name": "Dokumenten-Normpr端fung",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "normcheck-trigger"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://backend:8001/agent/tasks/normcheck",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"input_text\": \"{{ $json[\"text\"] }}\" }"
      },
      "id": "2",
      "name": "Normpr端fung Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "options": {},
        "functionCode": "return [{ json: { status: 'Workflow abgeschlossen', result: $json }}];"
      },
      "id": "3",
      "name": "Antwort",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normpr端fung Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normpr端fung Agent": {
      "main": [
        [
          {
            "node": "Antwort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
